<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Online Shopping</title>
  </head>
  <body>
    <h1>Online Shopping API</h1>
    <ul>
      <li><a href="/products">Products</a></li>
      <li><a href="/categories">Categories</a></li>
      <li><a href="/messages">Messages</a></li>
      <li><a href="/config">Config</a></li>
    </ul>
  </body>
</html>
